th {
    border: 2px solid #8c6b48;
  }

  header {
    text-align: center;
    margin-top: 5px;
  }

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border-collapse: collapse; /* Add this line */
}

td{
    border: 2px solid #8c6b48;
}

.container{
    padding-top: 20px;
}

.tableheader{
    background-color: rgb(85, 82, 82);
}

.left{
    width: 150px;
}

body{
    background-color: rgb(50, 50, 50);
    color: white;
    font-family: 'Oswald', sans-serif;
}

code {
    display: block;
    white-space: pre-wrap   
  }